body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
}

.mainContainer {
    background-color: #F3F4F6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 1rem;
}

.subHeading {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4B5563;
    margin-bottom: 2rem;
}

.taskHeading {
    margin-top: 1.8rem;
    padding-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #111827;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.taskHeading:hover {
    text-decoration: underline;
}

.bottomBorder {
    border-bottom: 1px solid #D1D5DB;
    width: 60%;
}

.taskContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.5s ease-out;
}

.taskContainer.expanded {
    max-height: 1000px; /* A value larger than the expected height */
    transition: max-height 0.3s ease-in, padding 0.5s ease-in;
    padding-bottom: 1rem;
}

.task {
    font-size: 18px;
    font-weight: 600;
}
.addTaskBtn{
    background-color: #2563EB;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.taskConatiner1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
width: 60vw;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
.taskCompleted{
    font-size: 18px;
    color: #3be054;
    font-weight: 300;
}
.taskInprogress{
    font-size: 18px;
    color: #f9a826;
    font-weight: 300;
}
.taskNotStarted{
    font-size: 18px;
    color: #f44747;
    font-weight: 300;
}
.dialogBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .heading {
        font-size: 1.5rem;
    }

    .subHeading {
        font-size: 1.1rem;
    }

    .taskHeading {
        font-size: 1.6rem;
        width: 80%;
    }
    .taskConatiner1{
        width: 80vw;
    }
    
}